.container {
    min-height: 80vh;
    width: 90vw;
    display: grid;
    place-items: center;

    .recharts-responsive-container {
        height: 80%;
        width: 70%;
        padding-top: 5rem;

        div {
            display: grid;
            place-items: center;
        }
    }
}
